<div class="mainContent">
  <div class="navi">
    <nav>
      <p>All Conference Room</p>
      <button type="button" (click)="btnAddOrganization();" >Add</button>
      <button type="button" (click)="btnBackToMain();" >Back</button>
    </nav>
  </div>

  <div class="contentGetRoom">

    <div class="testTab">
      <p>Name : Transporeon</p>
      <p>Identifier : 15151515</p>
      <p>Level : II Floor</p>
      <p>Availability : YES</p>
      <p>Places Sitting : 150</p>
      <p>Places Standing : 150</p>


      <p>Edit</p>
      <p>Remove</p>

    </div>
  </div>
</div>
