<div class="mainContent">
  <div class="navi">
    <nav>
      <p>All Conference Room</p>
      <button type="button" (click)="btnBackToMain();">Back</button>
    </nav>
  </div>

  <div class="contentGetRoom">

    <div class="testTab">
      <div class="tabData">
        <div class="tabColumn">
          <p><span class="tabSpan">Owner :</span> Transporeon</p>
          <p><span class="tabSpan">Name :</span> room 1</p>
          <p><span class="tabSpan">Level :</span> II Floor</p>
        </div>
        <div class="tabColumn">
          <p><span class="tabSpan">Availability :</span> YES</p>
          <p><span class="tabSpan">Places Sitting :</span> 150</p>
          <p><span class="tabSpan">Places Standing :</span> 150</p>
        </div>
      </div>
      <div class="tabButton">
        <button (click)="btnClickGoToEditRoom();">Edit</button>
        <button (click)="btnClickRemoveRoom();">Remove</button>
      </div>
    </div>
  </div>
</div>
