<div class="mainContent">
  <div class="navi">
    <nav>
      <p>Adding Organization</p>
      <button type="button" (click)="btnBackToMain();">Back</button>
    </nav>
  </div>

  <div class="contentAddOrganization">
    <label for="organization-name">Organization Name: </label>
    <input id="organization-name" #organizationName/>
    <label for="organization-nip">NIP Number</label>
    <input id="organization-nip" #organizationNip/>

    <button type="button" (click)="addOrganization(organizationName.value, organizationNip.value);" >Done !</button>
  </div>
</div>
