<div class="mainContent">
  <div class="navi">
    <nav>
      <p>All Organization</p>
      <button type="button" (click)="btnClickToAddOrganization();">Add</button>
      <button type="button" (click)="btnClickToMain();">Back</button>
    </nav>
  </div>

  <div class="contentGetOrganization">

    <div class="testTab">
      <div class="tabData">
        <p><span>Organization Name :</span> Transporeon</p>
      </div>
      <div class="tabButton">
        <div class="tabColumn">
          <button type="button" (click)="btnClickReservationRoom();">Reserve room</button>
          <button type="button" (click)="btnClickGoToEditOrganization();">Edit</button>
        </div>
        <div class="tabColumn">
          <button type="button" (click)="btnClickAddRoomToOrganization();">Add room</button>
          <button type="button" (click)="btnClickRemoveOrganization();">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
