.contentGetOrganization{
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 5vh auto;
  overflow-scrolling: auto;
}

.testTab{
  border: solid greenyellow 1px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  height: 20vh;
}
.tabData{
  display: flex;
  flex-direction: row;
  width: 30vw;
}

.tabButton{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tabColumn button{
  width: 20vw;
}

.testTab p{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tabColumn{
  padding-left: 3vw;
  padding-right: 2vw;
}

.tabData span{
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2vh;
}
.tabData p{
  font-size: 3vh;
}






