<div class="mainContent">
  <div class="navi">
    <nav>
      <p>Adding Conference Room</p>
      <button type="button">Back</button>
    </nav>
  </div>

  <div class="contentAddRoom">
    <label for="Name">Name: </label>
    <input id="Name" #roomName/>
    <label for="identifier">Identifier</label>
    <input id="identifier" #identifier/>
    <label for="level">Level: </label>
    <input id="level" #level/>
    <label for="availability">Availability</label>
    <input id="availability" #availability/>
    <label >Number of places: </label>
    <label for="sitting">Sitting</label>
    <input id="sitting" #sitting/>
    <label for="standing">Standing</label>
    <input id="standing" #standing/>

    <button type="button">Done!</button>
  </div>
</div>
