<div class="mainContent">
  <div class="navi">
    <nav>
      <p>Adding Conference Room</p>
      <button type="button" (click)="btnClickToRoomGet();">Back</button>
    </nav>
  </div>

  <div class="contentAddRoom">
    <div class="formUpColumn">
      <div class="formColumn">
        <label for="Name">Name: </label>
        <label for="level">Level: </label>
        <label for="availability">Availability:</label>
        <label for="sitting">Sitting place:</label>
        <label for="standing">Standing place:</label>
      </div>
      <div class="formColumn">
        <input id="Name" #roomName/>

        <input id="level" #level/>

        <input id="availability" #availability/>

        <input id="sitting" #sitting/>

        <input id="standing" #standing/>
      </div>
    </div>
    <div class="formDownColumn">
      <button type="button">Done!</button>
    </div>
  </div>
</div>
