
<div class="allApp">
  <div class="logo">
    <p>Conference Room Reservation System</p>
  </div>
  <div class="content">
<!--    <app-main></app-main>-->
<!--    <app-organization-add></app-organization-add>-->
<!--    <app-organization-edit></app-organization-edit>-->
<!--    <app-organization-get></app-organization-get>-->
<!--    <app-conference-room-add></app-conference-room-add>-->
<!--    <app-conference-room-edit></app-conference-room-edit>-->
<!--    <app-conference-room-get></app-conference-room-get>-->
<router-outlet></router-outlet>

  </div>
  <footer>&copy; Final Pro Corporation</footer>
</div>
