.mainContent{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;

}

.navi{
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: black;
}
nav{
  display: flex;
  flex-direction: row;
  margin: 30px;
}
nav p {
  font-size: 6vh;

}

nav button {
  border: 1px solid #ffffff;
  background-color: #191919;
  color: #ffffff;
  padding: 5px 100px;
  font-size: 5vh;
  margin-left: 5vw;
}

.contentEditRoom button{
  border: 1px solid #ffffff;
  background-color: #191919;
  color: #ffffff;
  padding: 5px 100px;
  font-size: 4vh;
  margin: 0.5vh auto;

}

nav button:hover {
  border: 1px solid greenyellow;
  background-color: #191000;
  color: #ffffff;
}

.contentEditRoom button:hover {
  border: 1px solid greenyellow;
  background-color: #191000;
  color: #ffffff;
}

.contentEditRoom{
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 2vh auto;

}
label{
  font-size: 3vh;
  margin: 0.5vh 0.5vh;
}
input{
  height: 4vh;
  font-size: 3vh;
}

