.contentEditOrganization{
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 10vh auto;
}
nav p{
  line-height: 15vh;
}
label{
  font-size: 5vh;
  margin:2vh auto ;
}
input{
  height: 5vh;
  width: 40vw;
  font-size: 4vh;
}
button{
  margin: 5vh auto;
}
