/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
button {
  border: 1px solid #ffffff;
  background-color: #191919;
  color: #ffffff;
  padding: 1vh 2.5vw;
  font-size: 4vh;
  height: 7vh;
  width: 15vw;
  margin-right: 2vw;
}

button:hover {
  border: 1px solid greenyellow;
  background-color: #191000;
  color: #ffffff;
}

.navi{
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: black;
}

nav{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

nav p {
  font-size: 6vh;
  margin-right: 10vw;
}
.mainContent{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;
}
